.button {
  @include button-reset;
  display: inline-block;
  padding: 18px 40px;


  @include font($font-family_primary, $font-size_m, 400, 158.86%);
  color: $text-color_secondary;
  text-align: center;

  fill: $text-color_secondary;

  box-sizing: border-box;
  background: none;
  background-color: $background-color_accent;
  cursor: pointer;
  outline: none;

  @include transition;

  &:hover,
  &:focus {
    color: $text-color_secondary;

    fill: $text-color_accent;

    box-shadow: inset 0 0 0 3px $background-color_accent;
    background-color: transparent;
  }

  &:active {
    color: $text-color_accent;

    background-color: $background-color_primary;
    box-shadow: none;
  }
}

@media (max-width: $max-width_tablet) {
  .button {
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 13px;
    padding-left: 23px;

    font-size: $font-size_s;
  }
}
