.logo {
  display: flex;
  align-items: center;

  color: $text-color_primary;

  svg {
    flex-shrink: 0;
    display: block;
    width: 62px;
    height: auto;
    margin-right: 22px;

    fill: $text-color_primary;
    @include transition;
  }

  p {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 5px;
  }

  b {
    margin-bottom: 2px;

    @include font ($font-family_primary, 23px, 800, 28px);
    font-style: italic;
    text-transform: uppercase;
  }

  span {
    @include font ($font-family_primary, 8px, 400, 10px);
  }
}
