.page-header {
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 10;

  width: 100%;

  @include font($font-family_primary, $font-size_m, 400, $line-height_l);
  color: $text-color_additional;

  background-color: transparent;

  a {
    color: inherit;

    @include transition;

    @include link-effects($text-color_secondary, 0.5);
  }
}

.page-header__inner {
  @include container_desktop;
}

.page-header__nav-toggle {
  display: none;
}

.page-header__content {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 7%;

  svg {
    fill: $text-color_additional;
  }
}

.page-header__nav {
  flex-grow: 1;
  max-width: 658px;
  padding-top: 10px;
}

.page-header__nav-list {
  @include list-reset;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin-right: 7.2%;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
  }
}

.page-header__phone {
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 8.3%;

  @include font($font-family_primary, $font-size_l, 700, $line-height_xxl)
}

@media (max-width: $max-width_tablet) {

  .page-header {
    top: 36px;
  }

  .page-header__inner {
    @include container_tablet;

    display: flex;
    align-items: center;
  }

  .page-header__nav-toggle {
    @include button-reset;

    display: block;
    height: 16px;
    margin-right: auto;

    background-color: transparent;
    cursor: pointer;

    svg {
      display: block;
      @include transition;

      fill: $text-color_additional
    }

    &:hover,
    &:focus {
      svg {
        transform: scale(1.2);

        fill: $text-color_secondary;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  .page-header__logo {
    margin-right: 64px;

    svg {
      width: 37px;
      margin-right: 13px;
    }

    p {
      padding-top: 0;
    }

    b {
      margin-bottom: 1px;

      font-size: 16px;
      line-height: 20px;
    }

    span {
      font-size: 6px;
      line-height: 7px;
    }

  }

  .page-header__nav {
    display: none;
  }

  .page-header__phone {
    margin-top: 0;
    margin-left: 0;

    font-size: $font-size_m;
    line-height: $line-height_l;
  }

}

@media (max-width: $max-width_mobile) {

  .page-header {
    top: 13px;
  }

  .page-header__inner {
    @include container_mobile;
  }

  .page-header__content {
    flex-direction: column;
    align-items: flex-end;
  }

  .page-header__logo {
    margin-right: 0;
    margin-bottom: 5px;

    svg {
      width: 30px;
      margin-right: 10px;
    }

    b {
      font-size: 12px;
      line-height: 15px;
    }

    span {
      font-size: 4.3px;
      line-height: 5px;
    }
  }

  .page-header__phone {
    font-size: $font-size_s;
    line-height: $line-height_s + 2px;
  }
}
