.slider__head {
  display: flex;
  align-items: flex-start;
  width: 100%;

  h2 {
    align-self: flex-start;
  }
}

.slider__body {
  position: relative;
  left: -120px;

  display: flex;
  width: 100vw;
  max-width: 1440px;

  overflow: hidden;

  @include transition;
}

.slider__list {
  @include list-reset;
  display: flex;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slider__item {
  scroll-snap-align: center;

  &:first-of-type {
    padding-left: 120px;
  }

  &:last-child {
    padding-right: 120px;
  }
}

.slider__controls {
  position: relative;
  z-index: 5;

  display: flex;
  align-self: start;
  margin-top: 15px;
  margin-left: auto;

  // &_hidden {
  //   display: none;
  // }
}

.slider__control {
  @include button-reset;

  margin-right: 4px;
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 13px;
  padding-left: 12px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    display: block;
  }

  &[disabled] {
    opacity: 0.2;

    &:hover,
    &:focus {
      fill: $text-color_additional;

      background-color: $background-color_accent;
      box-shadow: none;
    }
  }
}

@media (max-width: $max-width_tablet) {

  .slider__body {
    left: -110px;
  }


  .slider__item {

    &:first-of-type {
      padding-left: 110px;
    }

    &:last-child {
      padding-right: 110px;
    }
  }
}

@media (max-width: $max-width_mobile) {

  .slider__body {
    left: -20px;
  }

  .slider__item {

    &:first-of-type {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }
}
