.social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  .social__item {
    width: 21px;
    height: 21px;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include transition;
  }

  svg {
    display: block;

    @include transition;
  }
}
