@font-face {
  font-weight: 300;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat Light'), local('Montserrat-Light'),
    url("../fonts/montserrat_300") format("woff2"),
    url("../fonts/montserrat_300") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat Regular'), local('Montserrat-Regular'),
    url("../fonts/montserrat_400") format("woff2"),
    url("../fonts/montserrat_400") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat Medium'), local('Montserrat-Medium'),
    url("../fonts/montserrat_500") format("woff2"),
    url("../fonts/montserrat_500") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat Bold'), local('Montserrat-Bold'),
    url("../fonts/montserrat_700") format("woff2"),
    url("../fonts/montserrat_700") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url("../fonts/montserrat_800") format("woff2"),
    url("../fonts/montserrat_800") format("woff");
}


@font-face {
  font-weight: 900;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src:
    local('Montserrat Black'), local('Montserrat-Black'),
    url("../fonts/montserrat_900") format("woff2"),
    url("../fonts/montserrat_900") format("woff");
}
